<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>completed sessions</title>
</head>
<body>
        <div>
            <p class="text-2xl">Sessions</p>
            <% for(var i=0; i<c_Sessions.length; i++) { %>
            <a href="/completedSessions/<%= c_Sessions[i].id %>">
                <div class="w-auto mt-10 rounded-lg flex text-white px-10 py-4 bg-lime-950 h-16 cursor-pointer overflow-hidden hover:bg-white hover:text-lime-950 border-2 border-lime-950">
                    <%= c_Sessions[i].time %>
                    <p class="text-right ml-10">
                        <%= ( c_Sessions[i].playerCount)%> slots available
                    </p> 
                </div>
            </a>
            <% } %>
        </div>
</body>
</html>