<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Sports Scheduler</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: lavender;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: black;
      padding: 10px;
    }

    .navbar-brand {
      color: lavender;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
    }

    section {
      margin: 50px auto;
      text-align: center;
    }

    h2 {
      color: black;
    }

    .btn {
      background-color: #9370DB;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 20px;
    }

    .btn:hover {
      background-color: #7B68EE;
    }
  </style>
</head>
<body>
  <%- include("signup")%>
</html>
