<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title>Sports Scheduler</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2e2d2;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      background-color: #dcbba2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 16px;
      text-align: center;
    }
    .heading {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 16px;
      text-align: center;
    }


    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: #555;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    .submit-button {
      background-color: #0066cc;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 12px 24px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
    }

    .submit-button:hover {
      background-color: #0052a3;
    }

    .signup-link {
      color: #0066cc;
      text-decoration: none;
      margin-left: 8px;
    }

    .error-message {
      color: #ff0000;
      margin-top: 8px;
    }
  </style>
</head>

<body>
  <div>
    <div>
      <h2 class="heading">Sports Scheduler</h2>
    </div>
  <div class="container">
    <h3>Login</h3>
    <form action="/session" method="POST">
      <div>
        <label for="email">Email:</label>
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password" required>
      </div>
      <ul>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <li class="error-message"><%= messages.error[i] %></li>
          <% } %>
        <% } %>
      </ul>
      <div>
        <p>Not a user? <a href="/signup" class="signup-link">Sign up</a></p>
      </div>
      <div>
        <button type="submit" class="submit-button">Log In</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
