<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
  </head>
  <body>
    <div class="container">
      <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
          <h2 class="py-4 page-title">Sport:<%= current_sport.sport_name %></h2>
          
          <div>
            <%- include('sessionPage', {sessionDetails, userid, sportid:current_sport.id}) %>
          </div>
          <div >
            <a href="/" class="inline-block text-sm px-4 py-2">Back to Home Page</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
